<div class="col-xs-4 col-xs-offset-4" style="margin-top: 50px; position: relative; z-index: 10">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="zmdi zmdi-account"></i>{{ str('auth-header') }}</div>
        <div class="panel-body">
            <app-form name="auth" ng-submit="login()" style="margin-top: 0;">
                <app-text type="email"
                          name="email"
                          label="email"
                          hide-label="true"
                          ng-model="form.email"
                          required="true"></app-text>

                <app-text type="password"
                          name="password"
                          label="password"
                          hide-label="true"
                          ng-model="form.password"
                          required="true"></app-text>

                <div class="" clearfix>
                    <button type="submit" class="btn btn-primary pull-right">{{ str('submit') }}</button>
                </div>
            </app-form>
        </div>
    </div>
</div>

<div class="col-xs-6 col-xs-offset-3" style="margin-top: 50px; position: relative; z-index: 10">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-4">
                    <img src="images/logo-kadsystem.png" style="width: 100%; margin-top: 15px;"/>
                </div>
                <div class="col-xs-8">
                    <b>
                        A KAD System é uma empresa inovadora com ampla experiência no desenvolvimento de ERP que facilita as tomadas de decisões e melhoram a integração de processos com agilidade e precisão, agregando valor e mais rentabilidade aos seus Clientes.
                    </b>
                </div>
            </div>
        </div>
    </div>
</div>