<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div ng-switch on="titleTemplate">
                    <div ng-switch-when="null">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            {{ title }}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="transclude-here"></div>
            </div>
            <div class="modal-footer" ng-switch on="getModalFooterType()">
                <div ng-switch-when="default">
                    <button type="button" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
                <div ng-switch-when="exclusive">
                </div>
                <div ng-switch-when="custom">
                    <button ng-repeat="button in buttons" type="button" class="btn" ng-class="getButtonClass(button)" ng-click="button.click()">{{ button.label }}</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>